@import url('https://fonts.googleapis.com/css?family=Dosis:400,800');
/*Google font
https://fonts.google.com/specimen/Dosis?selection.family=Dosis
*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Open+Sans');
/*Google font
https://fonts.google.com/specimen/Noto+Sans
*/

/*icons*/
@font-face {
    font-family: 'si';
    src: url('socicon-v1.5/socicon.eot');
    src: url('socicon-v1.5/socicon.eot?#iefix') format('embedded-opentype'),
         url('socicon-v1.5/socicon.woff') format('woff'),
         url('socicon-v1.5/socicon.ttf') format('truetype'),
         url('socicon-v1.5/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(socicon-v1.5/socicon.svg) format(svg);
    }
}

.banner{
    width : 100%;
    height: 10%;
    background-color: rgb(66, 99, 140);
    padding: 30px;
    
}

.banner:hover{
    background-color: #314b6b;
}

.title{
    color: #eee;
    font-size: 40px;
    margin-left: 40px;
}

body{
    margin: 0px;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 3px;
}

.second{
    position: absolute;
    margin-top: -30px;
    margin-left: 600px;
    float: right;
    color: #c6d5e8;
    font-size: 25px;
}

.left{
    width: 20%;
    margin-left:10px;
    display: inline-block;
}

.table{
    position: relative;
    margin-left: 25%;
    display: inline-block;
    width:70%;
    text-align: left; 
}

.list{
    position: absolute;
    margin-left:20px;
}

.contact{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.contact h2 p{
    width:800px;
    color:black;
}

.left-word a{  
    margin-top: 20px;
    margin-left: 20px;
    display: block;
    padding: 10px;
    font-size: 20px;
    color: #333;
    text-decoration: none;
}

#top-bar{
    display: block;
     position:fixed;    
}

.left-word a:hover{
    z-index: 2;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

a:hover{
    background-color: #789cca;
}

.chinese{
    font-family: 'Noto Serif', serif;
}

.profile{
    height: 30%;
    border-radius: 20%;
}

.highlight{
    font-weight: bold; 
}

.date{
    font-style: italic;
    padding-left:20px ;
    text-align: right;
}

.soc {
    margin-top:15px;
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
}

.soc li {
    margin-left: 50px;
    margin-top:15px;
    /*display:inline-block;*/
    *display:inline;
    color: #42638c;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 46px;
    height: 46px;
    line-height: 46px;
    font-size: 25px;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    margin-right: 25px;
    color: #ffffff;
    background-color: #42638c;
}

.soc a:hover {
    z-index: 2;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.soc-icon-last{
    margin:0 !important;
}

.soc-github:before {
    content:'\e030';
}
.soc-facebook:before {
    content:'\e041';
}
.soc-instagram:before {
    content:'\e057';
}
.soc-linkedin:before {
    content:'\e049';
}
.soc-youtube:before {
    content:'\e051';
}